
#layout
{
  position: relative;
  right: 0;
  padding-right: 0;
}

#main
{
  margin-left: 16em;
}

#main.luadoc
{
  margin-right: 16em;
}

img.img-float-right
{
  float: right;
  margin: 0 0 1rem 1rem;
}

/** TOC **********************************************************************/

.toc
{
  color: #444;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  top: 1.5em;
  width: 14em;
}

.toc.toc-right
{
  border-left: solid 2px #bbb;
  right: 0;
}

.toc.toc-left
{
  border-right: solid 2px #bbb;
  left: 0;
}

.toc span.title
{
  font-size: 110%;
  font-weight: bold;
  display: inline-block;
}

.toc ul
{
  margin: 1em 0;
  padding: 0;
  list-style-type: none;
  font-size: 90%;
}

.toc ul:last-child
{
  margin-bottom: 0;
}

.toc ul ul
{
  margin: 0;
  padding-left: 1em;
  font-size: 90%;
}

.toc a
{
  color: #888;
  text-decoration: none;
}

.toc a:hover
{
  text-decoration: underline;
}

.toc a:hover,
.toc a.selected
{
  color: #000;
}

/** CONTENT ******************************************************************/

.content,
nav
{
  margin: 0 auto;
  padding: 0 2em;
  max-width: 1000px;
  line-height: 1.6em;
}

.content
{
  margin-bottom: 50px;
}

.content .center
{
  text-align: center;
}

.content .dim
{
  color: #888;
}

.content p.large
{
  font-size: 120%;
}

.content p.small
{
  font-size: 80%;
}

.content h1:not(:first-child)
{
  margin-top : 5em;
}

.content h1.title
{
  font-size: 400%;
  text-align: center;
  margin-bottom: 0.5em;
  line-height: 0.9;
}

.content h2.title
{
  font-size: 250%;
  text-align: center;
  color: #444;
  margin-top: 0.5em;
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6
{
  margin: 1.5em 0 0.5em 0;
}

.content p
{
  margin-top: 0.5em;
}

.content table
{
  border-collapse: collapse;
}

.content table thead tr
{
  background: #f4f4f4;
}

.content table thead th
{
  border-bottom : solid 1px #888;
}

.content table tbody tr:nth-child(even)
{
  background: #f4f4f4;
}

.content table th,
.content table td
{
  padding: 0 0.75em;
}

.content img
{
  max-width: 100%;
  height: auto;
}

.content figure
{
  margin-left: 0;
}

.content figcaption
{
  line-height: 80%;
  font-size: 80%;
}

/** Badge ********************************************************************/
span.badge
{
  border-radius: .6rem;
  display: inline-block;
  font-size: small;
  font-weight: 700;
  line-height: 1;
  margin-left: 1rem;
  padding: .25em .4em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

span.badge:first-child,
span.badge ~ span.badge
{
  margin-left: 0;
}

span.badge.badge-lua
{
  background-color: #030380;
  color: #fff;
}

span.badge.badge-since
{
  background-color: #28a745;
  color: #fff;
}

/** Note **/

p.note
{
  border-left: solid 0.4em darkblue;
  font-size: 85%;
  line-height: normal;
  padding: 0 0 0 0.4em;
}

p.note span.label
{
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

/** LuaDoc *******************************************************************/

nav ul
{
  list-style: none;
  border-bottom: solid #808080 1px;
  margin: 0;
  padding: 0;
}

nav ul li
{
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav ul li:not(:last-child)::after
{
  content: '\00BB';
  display: inline-block;
}

nav ul li a
{
  padding: 0 0.2em;
  margin: 0;
}

div.index-az
{
  column-count: 3;
}

ul.index-az-nav
{
  list-style: none;
}

ul.index-az-nav li
{
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul.index-az-nav li::before
{
  content: '\2022';
  display: inline-block;
}

ul.index-az-nav li:last-child::after
{
  content: '\2022';
  display: inline-block;
}

ul.index-az-nav li a
{
  padding: 0 0.2em 0 0;
  margin: 0;
}

/** Lua **********************************************************************/

pre[lang="lua"],
pre[lang="bash"]
{
  border: solid 1px darkgray;
  background-color: #f8f8f8;
  font-size: 80%;
  line-height: normal;
  padding: 0.4em;
}

pre[lang="lua"] code span.const
{
  color: darkviolet;
}

pre[lang="lua"] code span.keyword
{
  color: blue;
}

pre[lang="lua"] code span.number
{
  color: magenta;
}

pre[lang="lua"] code span.global
{
  color: chocolate;
}

pre[lang="lua"] code span.text
{
  color: darkgreen;
}

pre[lang="lua"] code span.comment,
pre[lang="lua"] code span.comment a
{
  color: gray;
}

pre[lang="lua"] code span.function
{
  color: teal;
}

/** MEDIA BREAKPOINTS ********************************************************/

@media screen and (max-width: 991px)
{
  #main
  {
    margin-right: 0;
    margin-left: 0;
  }

  .toc
  {
    display: none;
  }
}

/** Dark mode **/

@media (prefers-color-scheme: dark)
{
  body
  {
      background-color: #111;
      color: #eee;
  }

  a
  {
    color: rgb(47, 129, 247)
  }

  .toc
  {
    border-color: #555;
    color: #ccc;
  }

  .toc a:hover,
  .toc a.selected
  {
    color: #fff;
  }

  .content table thead tr
  {
    background: #222;
  }

  .content table tbody tr:nth-child(even)
  {
    background: #222;
  }

  p.note
  {
    border-left-color: blue;
  }

  pre[lang="lua"],
  pre[lang="bash"]
  {
    border-color: gray;
    background-color: #222;
  }

  pre[lang="lua"] code span.const
  {
    color: violet;
  }

  pre[lang="lua"] code span.text
  {
    color: lawngreen;
  }

  pre[lang="lua"] code span.keyword
  {
    color: cyan;
  }

  pre[lang="lua"] code span.global
  {
    color: orange;
  }

  pre[lang="lua"] code span.function
  {
    color: #66CDAA;
  }
}
